


<h1>Search for PetType</h1>
<div class="row">
	
	
	
	
	<div class="col-md-3">
		<div class="form-group">
			<label htmlFor="name">Name</label>
			<input class="form-control" id="name" name="name" type="text" placeholder="" />
		</div>

	</div>
    
    
    
    
    
</div>
<div class="row">
	<div class="col-md-3">
		<button (click)="searchPetType()">search</button>
	</div>
</div>	

<div class="row">
	<div class="col-md-12">
	<table class="table table-bordered">
		<thead>
			<tr>
				<th></th>
				
				<th>
					Name
				</th>
				
				
				<th>
					Actions
				</th>
			</tr>
		</thead>
		<tbody *ngFor="let petType of petTypeList">
			<tr>
				<th></th>
				
				<th>
					{{petType.name}}
				</th>
				
				
				<th>
					Actions
				</th>
			</tr>
		</tbody>
	</table>
	</div>
</div>