


<h1>Search for Veterinarian</h1>
<div class="row">
	
	
	
	
	<div class="col-md-3">
		<div class="form-group">
			<label htmlFor="firstName">First name</label>
			<input class="form-control" id="firstName" name="firstName" type="text" placeholder="" />
		</div>

	</div>
    
	
	<div class="col-md-3">
		<div class="form-group">
			<label htmlFor="lastName">Last name</label>
			<input class="form-control" id="lastName" name="lastName" type="text" placeholder="" />
		</div>

	</div>
    
    
    
    
    
    
</div>
<div class="row">
	<div class="col-md-3">
		<button (click)="searchVeterinarian()">search</button>
	</div>
</div>	

<div class="row">
	<div class="col-md-12">
	<table class="table table-bordered">
		<thead>
			<tr>
				<th></th>
				
				<th>
					First name
				</th>
				
				<th>
					Last name
				</th>
				
				
				<th>
					Actions
				</th>
			</tr>
		</thead>
		<tbody *ngFor="let veterinarian of veterinarianList">
			<tr>
				<th></th>
				
				<th>
					{{veterinarian.firstName}}
				</th>
				
				<th>
					{{veterinarian.lastName}}
				</th>
				
				
				<th>
					Actions
				</th>
			</tr>
		</tbody>
	</table>
	</div>
</div>