


<h1>Search for Pet</h1>
<form [formGroup]="searchForm" (ngSubmit)="onSearchSubmit()">
<div class="row">
	
	
	
	
	<div class="col-md-3">
		<div class="form-group">
			<label htmlFor="name">Name</label>
			<input class="form-control" id="name" name="name" formControlName="name" type="text" placeholder="" />
		</div>

	</div>
    
	
    
    
    
    
    
    
</div>
<div class="row">
	<div class="col-md-3">
		<button type="submit">search</button>
	</div>
</div>	
</form>

<div class="row">
	<div class="col-md-12">
	<table class="table table-bordered">
		<thead>
			<tr>
				
				<th>
					Name
				</th>
				
				<th>
					Birth date
				</th>
				
				
				<th>
					Type
				</th>
				
				<th>
					Actions
				</th>
			</tr>
		</thead>
		<tbody *ngFor="let pet of petList">
			<tr>
				
				<td>
					{{pet.name}}
				</td>
				
				<td>
					{{pet.birthDate}}
				</td>
				
				
				<td>
					{{pet.type}}
				</td>
				
				<td>
					Actions
				</td>
			</tr>
		</tbody>
	</table>
	</div>
</div>